*.png
*.jpg
*.mp4
*.gif
*.csv
*.mov
*.zip
*.DS_Store
env/
todo
.vscode/
.pytest_cache
.coverage
coverage.xml
htmlcov
commit-msg
*version.py
*.egg-info
*__pycache__
testing/
plume_videos/
message.txt
build/
